{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Exercises.css') }}">
{% endblock %}

{% block body %}
    <div class="container car">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner ">
              <div class="carousel-item active ">
                <img src="{{url_for('static',filename='images/pexels-leeloothefirst-5842226.jpg')}}" class=" w-100 " alt="image of a quotations on the blocks which says'No Action NO Change'">
              </div>
              <div class="carousel-item ">
                <img src="{{url_for('static',filename='images/pexels-leeloothefirst-5842230.jpg')}}" class=" w-100" alt="...">
              </div>
              <div class="carousel-item ">
                <img src="{{url_for('static',filename='images/pexels-leonardho-1552249.jpg')}}" class=" w-100" alt="...">
              </div>
              <div class="carousel-item "></div>
                <img src="{{url_for('static',filename='images/pexels-munbaik-cycling-clothing-3893851-5851033.jpg')}}" class=" w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>


          <div class="container text-center" >
            <div class="row">
              <div class="card col " style="width: 18rem;">
                <img src="{{url_for('static',filename='images/pexels-leonardho-1552252.jpg')}}" class="card-img-top" alt="">
                <div class="card-body">
                  <p class="card-text"></p>
                </div>
              </div>
              <div class="card col" style="width: 18rem;">
                <img src="{{url_for('static',filename='images/pexels-gabby-k-5384538.jpg')}}" class="card-img-top object-fit-contain" alt="">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              <div class="card col" style="width: 18rem;">
                <img src="{{url_for('static',filename='images/pexels-karolina-grabowska-5714510.jpg')}}" class="card-img-top object-fit-contain" alt="">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>

          <div class="container image">
            <div class="image1">
              <div class="card text-bg-dark">
                <img src="{{url_for('static',filename='images/pexels-gabby-k-5384533.jpg')}}" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h1 class="card-title quote">Keep Your<br><span style="color: orange;">Mind</span> <span style="color: greenyellow;">Fresh</span></h1>
                </div>
              </div>
            </div>
            <div class="image2">
              <img src="{{url_for('static',filename='images/pexels-gabby-k-5384551.jpg')}}" class="img-fluid">
            </div>
            <div class="image3">
              <img src="{{url_for('static',filename='images/pexels-victorfreitas-841131.jpg')}}" class="img-fluid">
            </div>

          </div>

   
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='Exercises.js') }}"></script>
{% endblock %}